<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

    <body style="background-color:rgb(164, 159, 115);">
        <section class="det">
                <div class="det-wrap">
                    <div class="det-content">
                        <a href="../view/maDa.php"><h3>Back</h3></a>
    <h1><u>Change Password</u></h1><br>
    <form action="changepassAction.php" method="POST" novalidate>
        <label for="op">Current Password:</label>
        <input type="password" name="op"><br><br>
        <label for="np">Change Password:</label>
        <input type="password" name="np"><br><br>
        <label for="c_np">Re write Password again:</label>
        <input type="password" name="c_np"><br><br>
      
        <input type="submit" class="button" value="Submit">
        
       
</form>

</div></div></section>
     
</body>
</html>


