<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="det">
        <div class="det-wrap">
            <div class="det-content">
    
    <fieldset>
        <legend>Medicine Inventory : </legend>

        <label >Napa</label>
            <input type ="submit" name ="napa" value = '10 Pcs 100/-'>
            <br><br>
            <label >Ace</label>
            <input type ="submit" name ="ace" value = '10 Pcs 120/-'>
            <br><br>
            <label >Zeldrin</label>
            <input type ="submit" name ="zeldrin" value = '10 Pcs 60/-'>
            <br><br>
            <label >Surgel</label>
            <input type ="submit" name ="surgel" value = '10 Pcs 140/-'>
            <br><br>
            <label >Altrafen</label>
            <input type ="submit" name ="altrafen" value = '10 Pcs 300/-'>
            <br><br>
            <label >G-Max</label>
            <input type ="submit" name ="gmax" value = '10 Pcs 350/-'>
            <br><br>
            <label >Flagyl</label>
            <input type ="submit" name ="flagyl" value = '10 Pcs 40/-'>
            <br><br>
            <label >Fymoxil</label>
            <input type ="submit" name ="fymoxil" value = '10 Pcs 70/-'>
            <br><br>
            <label >Adovas</label>
            <input type ="submit" name ="adovas" value = '10 Pcs 35/-'>
            <br><br>

            <a href="../view/maDa.php"class="button">Back</a> 

        </div></div></section>
        <br><br>

</body>
</html>